{% extends 'base.html' %}
{% block content %}

<h1>Anime Details</h1>

  <div class="card">
      <div class="card-content">
        <span class="card-title">{{ anime.title }}</span>
        <p>Genre {{ anime.genre }}</p>
        <p>Description: {{ anime.description|linebreaks }}</p>
        <p>Rate: {{ anime.rate }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'animes_update' anime.id %}">Edit</a>
        <a href="{% url 'animes_delete' anime.id %}">Delete</a>
      </div>
  </div>

{% endblock %}